@import '../global.scss';
@import '../variables';
@import '../mixins';


.recommend-popup {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 250px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
}

.recommend-header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.station-info{
    margin:0;
    display: contents;
    width: 100%;
    img{
        height: 15px;
        width: auto;
    }
    span{
        font-size: 11pt;
    }
    p{
        margin:0;
    }
}
.recommend-content {
    margin-top: 10px;
}

.station-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
}

.station-item:hover {
    background-color: #f8f8f8;
}

.station-type {
    font-weight: bold;
    color: #007bff;
}
