@import '../variables';
@import '../mixins';

.oil-trend {
    @include box-style;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97.5%;
    height: 600px;
    background-image: url('../../images/price_1.png');
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        width: 400px;
        display: inline-block;
        border-bottom: 2px solid $primary-color;
        padding: 10px;
        font-size: 35px;
        color: #333333;
    }

    .right {
        position: relative;
        left: 100px;
    }
}

@media screen and (max-width: 450px) {
    canvas{
        width: 380px !important;
        height: auto !important;
        position: relative;
        right: 0px;
    }
    .oil-trend {
      padding: 20px 10px; /* 상하 여백 줄임 */
      width: 390px;
      height: auto; /* 높이 자동 조정 */
      background-color: #f9f9f9; /* 배경색 변경 */
      background-image: none;
      
      h2 {
        margin-left: 30px;
        font-size:18pt !important;
        width: 300px;
        margin-bottom: 20px;
        font-size: 35px;
        color: #333333;
    }

  
      .right {
        position: static;
      }
      .graph{
        margin-left: 10px;
      }
    }
  }
  