@import '../variables';
@import '../mixins';

.oil-trend {
    @include box-style;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97.5%;
    height: 600px;
    background-image: url('../../images/price_1.png');
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        width: 400px;
        display: inline-block;
        border-bottom: 2px solid $primary-color;
        padding: 10px;
        font-size: 35px;
        color: #333333;
    }

    // .oil-img {
    //     width: 45%;
    //     height: 400px;
    //     background-image: url('../../images/Riding/청남대.PNG');
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     border-radius: 8px;
    //     opacity: 0.8;
    //     /* 투명도 설정 (0.0 ~ 1.0) */
    // }
    .right {
        position: relative;
        left: 100px;
    }
}

@media screen and (max-width: 360px) {
    canvas{
        width: 320px !important;
        height: auto !important;
    }
    .oil-trend {
      padding: 20px 10px; /* 상하 여백 줄임 */
      width: 340px;
      height: auto; /* 높이 자동 조정 */
      background-color: #f9f9f9; /* 배경색 변경 */
      background-image: none;
      
      h2 {
        margin-left:15px;
        font-size:18pt !important;
        width: 300px;
        margin-bottom: 20px;
        font-size: 35px;
        color: #333333;
    }

  
      .right {
        position: static;
        width: 340px !important;
      }
      .graph{
        margin-left: 10px;
        width:340px !important
      }
    }
  }
  