@import '../variables';
@import '../mixins';

.price-container {
    @include box-style;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 650px;
    padding: 20px;

    .left {
        align-items: center;
        justify-content: center;
    }

    h2 {
        width: 350px;
        display: inline-block;
        border-bottom: 2px solid $primary-color;
        padding: 10px;
        font-size: 35px;
        color: #333333;
    }

    .price-box {
        @include flex-center;
        // width: 550px;
        height: 120px;

        h3 {
            font-size: 25px;
            display: inline-block;
            padding-right: 30px;
            color: #333333;
        }

        .price {
            color: #FF5733;

            .value {
                font-size: 35px;
            }

            .change {
                font-size: 20px;
                color: #007bff;
            }

            .details {
                font-size: 20px;
                color: #555555;
            }


        }
    }
}

.price-img {
    width: 50%;
    height: 400px;
    background-image: url('../../images/board.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    opacity: 0.8;
    /* 투명도 설정 (0.0 ~ 1.0) */
}

@media screen and (max-width: 450px) {

}