<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.four.human.Search.dao.SearchDAO">
    <select id="findStationsByDistance" resultType="fs.four.human.Search.vo.SearchVO">
        SELECT
            STATION_CODE,
            BRAND,
            NAME,
            PRICE,
            DISTANCE,
            LATITUDE,
            LONGITUDE
            FROM
            GAS_STATIONS
        WHERE
            SQRT(POWER(LATITUDE - #{destinationLat}, 2) + POWER(LONGITUDE - #{destinationLng}, 2)) &lt; 10
        ORDER BY
            DISTANCE ASC,
            PRICE ASC
    </select>

    <insert id="saveRouteHistory" parameterType="fs.four.human.Search.vo.RouteHistoryVO">
        INSERT INTO USER_ROUTE_HISTORY (
            UR_STOPOVER_NAME,
            UR_DEST_NAME,
            UR_DISTANCE,
            UR_CREATED_DATE,
            UR_CREATED_ID
        )
        VALUES (
            #{urStopoverName},
            #{urDestName},
            #{urDistance},
            SYSDATE,
            #{urCreatedId}
        )
    </insert>

    <select id="findHistoryByUserId" resultType="fs.four.human.Search.vo.RouteHistoryVO">
        SELECT
            UR_STOPOVER_NAME  AS urStopoverName,
            UR_DEST_NAME      AS urDestName,
            UR_DISTANCE       AS urDistance,
            UR_CREATED_DATE   AS urCreatedDate,
            UR_CREATED_ID     AS urCreatedId
        FROM USER_ROUTE_HISTORY
        WHERE UR_CREATED_ID = #{userId}
        ORDER BY UR_CREATED_DATE DESC
    </select>

    <!--후방-->
    <insert id="insertCamera" parameterType="CamVO">
        INSERT INTO CAM (CAM_LATITUDE, CAM_LONGITUDE, B_CREATED_DATE)
        VALUES (#{camLatitude}, #{camLongitude}, SYSDATE)
    </insert>

    <select id="getAllCameras" resultType="CamVO">
        SELECT CAM_ID, CAM_LATITUDE, CAM_LONGITUDE
        FROM CAM
    </select>

</mapper>
