<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.four.human.Theme.dao.ThemeDAO">

    <!-- 카테고리별 그룹화된 테마 불러오기 -->
    <select id="getGroupedThemes" resultType="map">
        SELECT
        CATEGORY,
        LISTAGG(
        TR_PLACE_ID || '|' || TR_PLACE_NAME || '|' || TR_NUMPRODUCE1 || '|' || TR_NUMPRODUCE2 || '|' || IMAGE,
        ','
        ) WITHIN GROUP (ORDER BY TR_PLACE_ID) AS PLACES
        FROM
        THEME_RIDING
        GROUP BY
        CATEGORY
        ORDER BY
        CATEGORY
    </select>

</mapper>
