@import '../global.scss';
@import '../variables';
@import '../mixins';

.my-posts {
  padding: 0px 20px;
  background-color: #fff;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      border-bottom: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f9f9f9;
    }

    td {
      font-size: 14px;
      cursor: pointer;

      button {
        padding: 5px 10px;
        font-size: 13px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #e9ecef;
        }
      }
    }
  }

  .post-cards {
    display: none; // 기본적으로 숨김
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;

    button {
      padding: 5px 10px;
      font-size: 14px;
      background-color: #f8f9fa;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: #022547;
        color: white;
        font-weight: bold;
      }

      &:hover {
        background-color: #e9ecef;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    textarea {
      height: 350px;
      resize: none;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 20px;
      background-color: #f9f9f9;
      color: #333;
      font-size: 16px;

      &:focus {
        outline: none;
        border-color: #bbb;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      }

      &:hover {
        border-color: #ccc;
      }
    }

    .view-btn,
    .edit-btn {
      display: flex;
      justify-content: center;
      gap: 20px;
      position: relative;
      bottom: 15px;

      button {
        width: 80px;
        height: 50px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 0;

        &:hover {
          background-color: #e64646;
        }
      }
    }
  }
}

// 보기 팝업
.view-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 620px;
  z-index: 1000;

  /* 초기 상태 */
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;

  &.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &.close {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  h2 {
    text-align: center;
  }

  .title-bo {
    // @include flex-center;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
  }

  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: darkred;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 15px;

      p {
        margin: 0px;
        font-size: 16px;
      }

      .left,
      .right {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        p {
          font-size: 18px;
          margin-top: 5px;
        }
      }

      select,
      input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #ddd;
        padding-left: 10px;
        margin: 0;

        &:focus {
          outline: none;
          border-color: #bbb;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        }

        &:hover {
          border-color: #ccc;
        }
      }
    }
  }
}



@media (max-width: 450px) {

  .my-posts {
    margin-bottom: 80px !important;
  }

  .post-table {
    display: none;
  }

  .post-header {
    font-size: 11pt !important;
  }

  .post-menus {
    display: flex;
    justify-content: space-between;

    .post-details {
      margin: 0;
      font-size: 10pt !important;
      padding-top: 10px;
    }
  }

  .pagination {
    margin: 10px 0px !important;
  }

  .post-cards {
    display: flex !important;
    flex-direction: column;
    gap: 10px;

    .post-card {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      background-color: #fff;

      .post-header {
        font-size: 10pt;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .post-details {
        font-size: 9pt;
        color: gray;
        margin-bottom: 10px;
        text-align: right;
      }

      .post-actions {
        display: flex;
        justify-content: flex-end;
        /* 버튼을 우측 정렬 */
        gap: 10px;

        button {
          padding: 5px 10px;
          font-size: 9pt;
          background-color: #f8f9fa;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #e9ecef;
          }
        }
      }
    }
  }
}