.my-posts {
    padding: 0px 20px;
    background-color: #fff;
  
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      th, td {
        border-bottom: 1px solid #ccc;
        padding: 8px;
        text-align: center;
      }
  
      th {
        background-color: #f9f9f9;
      }
  
      td {
        font-size: 14px;
  
        button {
          padding: 5px 10px;
          font-size: 13px;
          background-color: #f8f9fa;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: #e9ecef;
          }
        }
      }
    }
  
    .post-cards {
      display: none; // 기본적으로 숨김
    }
  
    .pagination {
      display: flex;
      justify-content: center;
      gap: 5px;
  
      button {
        padding: 5px 10px;
        font-size: 14px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
  
        &.active {
          background-color: #022547;
          color: white;
          font-weight: bold;
        }
  
        &:hover {
          background-color: #e9ecef;
        }
  
        &:disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }
  

  @media (max-width: 450px) {

    .my-posts{
      margin-bottom: 80px !important;
    }
    .post-table {
      display: none;
    }
    .post-header{
      font-size:11pt !important;
    }
    .post-menus{
      display: flex;
      justify-content: space-between;
      .post-details{
        margin:0;
        font-size:10pt !important;
        padding-top:10px;
      }
    }
    .pagination{
      margin:10px 0px !important;
    }
    .post-cards {
      display: flex !important;
      flex-direction: column;
      gap: 10px;
  
      .post-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        background-color: #fff;
  
        .post-header {
          font-size: 10pt;
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        .post-details {
          font-size: 9pt;
          color: gray;
          margin-bottom: 10px;
          text-align: right;
        }

        .post-actions {
          display: flex;
          justify-content: flex-end; /* 버튼을 우측 정렬 */
          gap: 10px;
  
          button {
            padding: 5px 10px;
            font-size: 9pt;
            background-color: #f8f9fa;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
  
            &:hover {
              background-color: #e9ecef;
            }
          }
        }
      }
    }
  }