.saved-destination {
    padding: 0px 20px;
    background-color: #fff;
  
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      th, td {
        border-bottom: 1px solid #ccc;
        padding: 8px;
        text-align: center;
      }
  
      th {
        background-color: #f9f9f9;
      }
  
      td {
        font-size: 14px;
  
        button {
          padding: 5px 10px;
          font-size: 13px;
          background-color: #f8f9fa;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          
          &:hover {
            background-color: #e9ecef;
          }
        }
      }
    }
  
    .pagination {
      display: flex;
      justify-content: center;
      gap: 5px;
  
      button {
        padding: 5px 10px;
        font-size: 14px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
  
        &.active {
          background-color: #022547;
          color: white;
          font-weight: bold;
        }
  
        &:hover {
          background-color: #e9ecef;
        }
  
        &:disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }
  

  